@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
}
.wrap-skills {
    display: flex;
    flex-wrap: wrap;
    .skill {
        width: 30%;
    }
}